/* basic e{
	lements */

body {
  margin: 0;
  padding: 0;
  background-color: #93a3bc;
  font-family: 'Raleway', sans-serif;
}

.nav {
	background-color: #93a3bc;
	color: #ffffff;
	list-style: none;
	text-align: right;
	padding: 20px 0 0 0;
}
.nav > li {
	display: inline-block;
	padding: 0 25px 0 25px;
	font-size: 14px;
}

.nav > li > a {
		text-decoration: none;
		color: #ffffff;
}

.nav > li > a:hover {
	color: #c1c1c1;
} 

.logo {
	color: #ffffff;
	float: left;
	padding-left: 25px;
	font-size: 16;
	font-weight: bold;
}

.logo > a {
	text-decoration: none;
	color: #ffffff;
}

.banner {
	width: 100%;
	display: block;
	float: right;
}

.banner > banner-image {
	width: 100%;
	display: inline-block;
	float: right;
}

/* Text Banner
--------------------------------------------------------------------------------*/

#text-banner {
  background-color:#24823C; /* Changes the headline's background color */
}

#text-banner .container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em; /* Changes the padding (i.e., space) surrounding the text banner's text */
  box-sizing:border-box;
}

#text-banner .container h2 {
  color: #ffffff; /* Changes text banner's font color */
  font-family: "Komika Axis"; /* Changes the text banner's font */
  font-size: 1.5em; /* Changes the text banner's font size */
  font-weight: 500; /* Changes the text banner's font thickness */
  letter-spacing: 0.05em; /* Changes the space between each letter */
  margin: 0 auto 0em;
  text-align: center; /* Moves the text banner text to the left, center, or right -- your preference! */
  text-shadow:0 0 10px #004F09; /* Changes the text banner's text shadow */
}​
	
	
/*font-family: 'Raleway', sans-serif;
/*font-family: 'Quicksand', sans-serif;